# Парсинг страниц
requests>=2.31.0
beautifulsoup4>=4.12.2
lxml>=4.9.3

# Работа с данными и визуализация
pandas>=2.1.0
matplotlib>=3.8.0
seaborn>=0.12.2

# Для интерактивного дэшборда
streamlit>=1.30.0
